body {
  background-color: #FEFAE0;
  text-align: center;
  font-family: garamond;
  font-size: x-large;
}
img body {
  position: absolute;
  left: 0px;
  height: 50px;
  width: 50px;
}
header {
  background-color: #CCD5AE;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 50px;
  padding: 5px;
}
